* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.container {
    margin: 50px 2vh;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title  {
    width: 40%;
}

.title p {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-size: 36px;
    line-height: 47.7px;
    font-weight: 700;
}

.text {
    width: 40%;
    display: felx;
    flex-direction: column;
}

.text-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.text-text {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.main {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.main p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 5px;
}

.box-2 {
    margin-top: 70px;
}

.box-5 {
    margin-top: 70px;
}


.image {
    max-width: 250px;
}

footer {
    width: 100%;
    display: flex;
    position: relative;
    bottom: 0px;
    margin-bottom: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
}

@media (min-width: 767.98px) {
    .container {
        margin: 70px 5vh;
    }
}

@media (min-width: 991.98px) {
    .container {
        margin: 110px 10vh;
    }
}

@media (min-width: 1199.98px) {
    .container {
        margin: 110px 20vh;
    }
}

@media (min-width: 1399.98px) {
    .container {
        margin: 110px 45vh;
    }
}